.componentTitleContainer{
  margin-top: 60px;
  margin-bottom: 60px;
  margin-left: 28px;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 48px;
  letter-spacing: 2px;
  color: #4c7cfa;
}

.desc {
  font-family: PingFangSC-Regular;
  font-size: 32px;
  font-weight: 200;
  color: #525252;
}
