.componentTitleContainer{
  margin-top: 30px;
  margin-bottom: 30px;
  margin-left: 28px;
}

.title {
  font-family: PingFangSC-Medium;
  font-size: 38px;
  letter-spacing: 2px;
  color: #4c7cfa;
}

.desc {
  margin-top: 6px;
  font-family: PingFangSC-Regular;
  font-size: 26px;
  font-weight: 200;
  color: #525252;
}
