@import '../../style/mixin';

.Yep-btn {
  display: block;
  outline: 0 none;
  padding: 0;
  height: $button-height;
  line-height: $button-height;
  text-align: center;
  border-radius: $button-border-radius;
  font-size: $button-font-size;

  overflow: hidden;
  text-overflow: ellipsis;
  word-break: break-word;
  white-space: nowrap;

  -webkit-appearance: none;
  box-sizing: border-box;

  color: $color-text-base;
  background-color: $fill-base;
  @include hairline($button-border-color, $button-border-radius);

  &-borderfix {
    &:before {
      transform: scale(0.49) !important;
    }
  }

  &.btn-disabled {
    background-color: $fill-disabled;
    border: 1px solid $fill-disabled;
  }
  &.btn-primary {
    background-color: $brand-primary;
    color: $color-text-base-inverse;
    @include hairline($brand-primary, $button-border-radius);

    &.btn-disabled {
      background-color: $fill-disabled;
      @include hairline($fill-disabled, $button-border-radius);
    }
  }

  &.btn-ghost {
    background-color: $fill-base;
    color: $brand-primary;

    @include hairline($brand-primary, $button-border-radius);

    &.btn-disabled {
      background-color: $fill-disabled;
      @include hairline($fill-disabled, $button-border-radius);
    }
  }

  &.btn-inline {
    display: inline-block;
    padding: 0 $h-spacing-lg;
  }
  &.btn-md {
    height: $button-height-md;
    line-height: $button-height-md;
    border-radius: $button-border-radius-md;
  }
  &.btn-sm {
    font-size: $button-font-size-sm;
    height: $button-height-sm;
    line-height: $button-height-sm;
    padding: 0 $h-spacing-lg;
    border-radius: $button-border-radius-sm;
  }
  &-icon {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  > .Yep-btn-icon {
    margin-right: 0.5em;
  }
}

.Yep-btns {
  display: flex;
  align-items: center;
  & .Yep-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
