@import '../../style/mixin';

.Yep-btn {
  outline: 0 none;
  border: 0;
  height: $button-height;
  line-height: $button-height;
  padding: 0 39*$hd;
  text-align: center;
  border-radius: $button-border-radius;
  font-size: $button-font-size;
  white-space: nowrap;
  -webkit-appearance: none;
  box-sizing: border-box;

  color: $color-text-base;
  background-color: $fill-base;

  &.btn-circle{
    border-radius: 30 * $hd;
    @include bd-all-1px(#ababab, 30 * $hd);
  }
  &-borderfix {
    &:before {
      transform: scale(0.49) !important;
    }
  }

  &.btn-disabled {
    background-color: $fill-disabled;
  }
  &.btn-primary {
    background: linear-gradient(135deg, #ff4f18 0%, #f20000 100%);
    color: $color-text-base-inverse;

    &.btn-disabled {
      background: $fill-disabled;
    }
  }

  &.btn-ghost {
    background-color: $fill-base;
    color: $brand-primary;

    @include bd-all-1px($brand-primary, 30 * $hd);

    &.btn-disabled {
      background: $fill-disabled;
      @include bd-all-1px($fill-disabled, $button-border-radius);
    }
  }

  &.btn-fill{
    background-color: #f6f6f6;
    @include bd-all(#f6f6f6, 30 * $hd,0PX);
  }

  &.btn-light{
    @include bd-all-1px(#dadada, 30 * $hd);
  }

  &.btn-block {
    width: 100%;
    height: 80px;
    line-height: 80px;
    background: linear-gradient(135deg, #ff4f18 0%, #ff2000 24%, #f10000 100%);
    box-shadow: 0 10px 20px 0 rgba(255, 62, 62, 0.2);
    border-radius: 100px;
    color: #ffffff;
  }

  &.btn-lightred{
    background: rgba(240, 37, 15, 0.05);
    @include bd-all-1px(rgba(240, 37, 15, 0.05), 27 * $hd);
  }

  &.btn-checked{
    background:  #fef4f3;
    @include bd-all(#f0250f, 27 * $hd,2PX);
  }

  &.btn-dashed{
    @include bd-all(#DADADA, 27 * $hd,2PX,dashed);
  }

  &.btn-sm {
    font-size: $button-font-size-sm;
    height: $button-height-sm;
    line-height: $button-height-sm;
    padding: 0 $h-spacing-lg;
  }
  &.btn-xxs {
    font-size: $button-font-size-xxs;
    height: $button-height-xxs;
    line-height: $button-height-xxs;
    padding: 0 $h-spacing-lg;
  }

  > .Yep-btn-icon {
    margin-right: 0.5em;
    vertical-align: text-top;
  }
}

.Yep-btns {
  display: flex;
  align-items: center;
  & .Yep-btn {
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    &:last-of-type {
      margin-right: 0;
    }
  }
}
