@import '../../style/app';

.Yep-progress {
  border-radius: 50px;
  height: 10px;
  width: 100%;
  background: #f5f5f5;
  overflow: hidden;

  &-fixed {
    position: fixed;
    top: 0;
    left: 0;
    z-index: $progressZIndex;
  }
  &-bar {
    height: 10px;
    border-radius: 5px;
    transition: width 1s;
  }
}
