@charset "utf-8";

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video, dialog, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  -webkit-tap-highlight-color: transparent;
  box-sizing: border-box;
}

article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block
}

/* ios默认文本框阴影 */
input[type=text], textarea {
  -webkit-appearance: none;
}

/* 低版本安卓文本框层级问题 */
input:focus {
  -webkit-user-modify: read-write-plaintext-only;
}

ol, ul, li, menu {
  list-style: none
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

html, body {
  width: 100%;
  font-size: 10px;
  font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
  line-height: 1;
  color: #303030;
}

html {
  -webkit-text-size-adjust: none;
  -ms-text-size-adjust: 100%
}

html {
  font-size: 32px; /*no*/
}

@media screen and (min-width: 320PX) { /*no*/
  html {
    font-size: calc(85.34% + 2 * (100vw - 320PX) / 55); /*no*/
    font-size: calc(42.67PX + 2 * (100vw - 320PX) / 55); /*no*/
  }
}

@media screen and (min-width: 375PX) {
  html {
    font-size: calc(100% + 2 * (100vw - 375PX) / 39); /*no*/
    font-size: calc(50PX + 2 * (100vw - 375PX) / 39); /*no*/
  }
}

@media screen and (min-width: 414PX) {
  html {
    font-size: calc(110.4% + 4 * (100vw - 414PX) / 186); /*no*/
    font-size: calc(55.2PX + 4 * (100vw - 414PX) / 186); /*no*/
  }
}

@media screen and (min-width: 600PX) {
  html {
    font-size: calc(160% + 4 * (100vw - 600PX) / 150); /*no*/
    font-size: calc(80PX + 4 * (100vw - 600PX) / 150); /*no*/
  }
}

@media screen and (min-width: 750PX) {
  html {
    font-size: calc(200% + 6 * (100vw - 1000PX) / 1000); /*no*/
    font-size: calc(100PX + 6 * (100vw - 1000PX) / 1000); /*no*/
  }
}

// html{
//     font-size:20px;
//     font-size:375 / 20 *100vw;
//     @media screen and (max-width: 320px){
//         font-size: 375 / 20 * 320px;
//     }
//     @media screen and (max-width: 540px){
//         font-size: 375 / 20 * 540px;
//     }
// }

a, button, input {
  outline: 0 none;
  text-decoration: none
}

img {
  border: 0 none;
  vertical-align: bottom;
  -ms-interpolation-mode: bicubic;
  max-width: 100%;
}

.hide {
  display: none;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.tc {
  text-align: center;
}

.clr {
  clear: both;
}

.row:after {
  content: '';
  display: table;
  clear: both;
}

// 整体布局 适用于SPA
.header, .footer, .wrap-page {
  position: absolute;
  left: 0;
  right: 0;
  background-color: #fff;
}

.header, .footer {
  height: 0.88rem;
  line-height: 0.88rem;
  background-color: #fff;
  text-align: center;
  z-index: 900;
}

.header {
  top: 0;
  border-bottom: 1px solid #f00;
}

.footer {
  bottom: 0;
  border-top: 1px solid #f00;
}

.wrap-page {
  top: 0;
  bottom: 0;
}

.back {
  display: inline-block;
  position: absolute;
  top: 0.63rem;
  left: 0.3rem;
  width: 0.24rem;
  height: 0.4rem;
  background-size: cover;
}

// page status
.page-active {
  transform: translate3d(0, 0, 0);
}

.page-prev {
  transform: translate3d(-100%, 0, 0);
}

.page-next {
  transform: translate3d(100%, 0, 0);
}

.page-in {
  transition: transform 300ms cubic-bezier(0.42, 0, 0.58, 1);
}

.page-out {
  transition: transform 400ms cubic-bezier(0.42, 0, 0.58, 1) 0.1s;
}

body {
  background-color: #fafafa;
}

.page-title {
  display: block;
  position: relative;
  height: 40px; /*no*/
  line-height: 40px; /*no*/
  font-size: 40px; /*no*/
  margin: 40px auto; /*no*/
  text-align: center;
}

.page-back {
  display: inline-block;
  position: absolute;
  left: 40px; /*no*/
  top: 0;
  width: 80px; /*no*/
  height: 80px; /*no*/
  text-align: center;
}

.page-wrapper {
  padding: 0 40px; /*no*/
  top: 120px !important;
  position: absolute;
  width: 100%;
}

.page-wrapper > button {
  display: block;
  width: 100%;
  color: #656b79;
  background-color: #f6f8fa;
  box-shadow: 0 0 1px #b8bbbf; /*no*/
  appearance: none;
  border-radius: 4px; /*no*/
  border: 0;
  box-sizing: border-box;
  font-size: 36px; /*no*/
  height: 82px; /*no*/
  outline: 0;
  overflow: hidden;
  position: relative;
  text-align: center;
}

.page-wrapper > button:not(:last-child) {
  margin-bottom: 20px; /*no*/
}

.demo-list {

}

.demo-list-header {
  padding: 30px 30px 18px;
  font-size: 28px;
  color: #888;
  width: 100%;
  box-sizing: border-box;
}

.demo-list-body {
  position: relative;
  /*background-color: #fff;*/
  border-top: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
}

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
  html:not([data-scale]) .demo-list-body {
    border-bottom: none;
  }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
  html:not([data-scale]) .demo-list-body {
    border-top: none;
  }
}


@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 2dppx){
  html:not([data-scale]) .demo-list-body:before {
    content: "";
    position: absolute;
    background-color: #ddd;
    display: block;
    z-index: 1;
    top: 0;
    right: auto;
    bottom: auto;
    left: 0;
    width: 100%;
    height: 1px;
    transform-origin: 50% 50%;
    transform: scaleY(.5);
  }
}



.demo-list-item {
  position: relative;
  display: flex;
  min-height: 88px;
  /*background-color: #fff;*/
  vertical-align: middle;
  overflow: hidden;
  transition: background-color .2s;
  align-items: center;

  & .demo-list-line {
    position: relative;
    display: flex;
    flex: 1;
    align-self: stretch;
    padding-right: 30px;
    overflow: hidden;
  }
}

.demo-list-item .demo-list-line .demo-list-content, .demo-list-item .demo-list-line .demo-list-extra {
  line-height: 1.5;
  width: auto;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding-top: 14px;
  padding-bottom: 14px;
}

.demo-list-item .demo-list-line .demo-list-content {
  flex: 1;
  color: #000;
  font-size: 34px;
  text-align: left;
}

.demo-list-item .demo-list-line .demo-list-extra {
  flex-basis: 36%;
  color: #888;
  font-size: 32px;
  text-align: right;
}

