node_modules
.DS_Store
*.log
.idea
.vscode
dist/*.js
dist/*.map
coverage/
src

.gitignore
.gitattributes
yarn.lock
demo
scripts
site
build
视觉规范
组件开发进度.md
开发流程.md
.babelrc
.editorconfig
.eslintrc.json
.npmignore
gulpfile.js
.prettierrc
.prettierignore

