html {
  width: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: transparent;
}

body {
  width: 100%;
  position: relative;
  font-size: 14px;
  font-family:  Avenir, "Monospace Number", "Chinese Quote", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "PingFang SC", "Hiragino Sans GB", "Microsoft YaHei", "Helvetica Neue", Helvetica, Arial, sans-serif;
  background-color: #F8FAFF;
  margin: 0 auto;
}

article, aside, details, figcaption, figure, footer, header, hgroup, main, menu, nav, section, summary {
  display: block
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects;
  text-decoration: none
}

abbr[title] {
  text-decoration: underline;
  text-decoration: underline dotted
}

pre {
  overflow: auto;
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word
}

input, textarea {
  -webkit-user-modify: read-write-plaintext-only
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400;
  line-height: 2
}

* {
  box-sizing: border-box
}

html {
  font-family: sans-serif;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%
}

article, aside, details, figcaption, figure, footer, header, main, menu, nav, section, summary {
  display: block
}

audio, canvas, progress, video {
  display: inline-block
}

audio:not([controls]) {
  display: none;
  height: 0
}

progress {
  vertical-align: baseline
}

[hidden], template {
  display: none
}

a {
  background-color: transparent;
  -webkit-text-decoration-skip: objects
}

a:active, a:hover {
  outline-width: 0
}

abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted
}

b, strong {
  font-weight: inherit;
  font-weight: bolder
}

dfn {
  font-style: italic
}

h1 {
  font-size: 2em;
  margin: .67em 0
}

mark {
  background-color: #ff0;
  color: #000
}

small {
  font-size: 80%
}

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline
}

sub {
  bottom: -.25em
}

sup {
  top: -.5em
}

img {
  border-style: none
}

svg:not(:root) {
  overflow: hidden
}

code, kbd, pre, samp {
  font-family: monospace, monospace;
  font-size: 1em
}

figure {
  margin: 1em 40px
}

hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible
}

button, input, optgroup, select, textarea {
  color: inherit;
  font: inherit;
  margin: 0;
  vertical-align: middle
}

optgroup {
  font-weight: 700
}

button, input {
  overflow: visible
}

button, select {
  text-transform: none
}

[type=reset], [type=submit], button, html [type=button] {
  -webkit-appearance: button
}

[type=button]::-moz-focus-inner, [type=reset]::-moz-focus-inner, [type=submit]::-moz-focus-inner, button::-moz-focus-inner {
  border-style: none;
  padding: 0
}

[type=button]:-moz-focusring, [type=reset]:-moz-focusring, [type=submit]:-moz-focusring, button:-moz-focusring {
  outline: 1px dotted ButtonText
}

fieldset {
  border: 1px solid silver;
  margin: 0 2px;
  padding: .35em .625em .75em
}

legend {
  box-sizing: border-box;
  color: inherit;
  display: table;
  max-width: 100%;
  padding: 0;
  white-space: normal
}

textarea {
  overflow: auto;
  resize: none;
  vertical-align: top
}

input, select, textarea {
  outline: 0
}

[disabled] {
  cursor: default
}

[type=checkbox], [type=radio] {
  box-sizing: border-box;
  padding: 0
}

[type=number]::-webkit-inner-spin-button, [type=number]::-webkit-outer-spin-button {
  height: auto
}

[type=search] {
  -webkit-appearance: textfield;
  outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button, [type=search]::-webkit-search-decoration {
  -webkit-appearance: none
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: inherit;
  opacity: .54
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: inherit;
  opacity: .54
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: inherit;
  opacity: .54
}

input::-ms-clear, input::-ms-reveal {
  display: none
}

::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit
}

table {
  border-collapse: collapse;
  border-spacing: 0
}

td, th {
  padding: 0
}

blockquote, figure, form, h1, h2, h3, h4, h5, h6, p {
  margin: 0
}

dd, dl, li, ol, ul {
  margin: 0;
  padding: 0
}

ol, ul {
  list-style: none outside none
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: 400
}

.msgbox {
  max-width: 400px
}

.msgbox p {
  line-height: 1.2
}

@-webkit-keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0)
  }
  to {
    opacity: 1
  }
}

@keyframes enter {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 40px, 0);
    transform: translate3d(0, 40px, 0)
  }
  to {
    opacity: 1
  }
}

.enter-transition {
  -webkit-transition: opacity 2s, color .2s, background-color .2s;
  transition: opacity 2s, color .2s, background-color .2s
}

.enter-enter, .enter-leave {
  opacity: 0
}


.none {
  opacity: 0;
  transition: all 300ms;
}
.show {
  opacity: 1;
  transition: all 300ms;
}
.left {
  float: left;
}
.right {
  float: right;
}
.block {
  display: block;
}
.none {
  display: none;
}
