@import "../../style/variables";
.Yep-popup{
  position: fixed;
  left: 0;
  right:0;
  top: 0;
  bottom: 0;
  width: 100%;
  //backface-visibility: hidden;
  z-index: $maskZIndex;
  overflow: auto;
  outline: 0;
}
