@import "../../style/app";
.Yep-icon{
  fill: currentColor;
  background-size: cover;
  font-size: $icon-size-md;
  &-xxs {
    font-size: $icon-size-xxs;
  }

  &-xs {
    font-size: $icon-size-xs;
  }

  &-sm {
    font-size: $icon-size-sm;
  }

  &-md {
    font-size: $icon-size-md;
  }

  &-lg {
    font-size: $icon-size-lg;
  }

  &-jiazai {
    animation: cirle-anim 1s linear infinite;
  }

  @keyframes cirle-anim {
    100% {
      transform: rotate(360deg);
    }
  }
}



