@import '../../style/mixin';

.Yep-steps {
  background: #ffffff;
  position: relative;

  &-icon {
    width: 28px;
    color: #d1371d;
  }

  &-item {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    &-item-text {
      font-size: 28px;
      color: #6b707d;
      & > span {
        font-size: 24px;
      }
    }
  }
  &-num {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    text-align: center;
    line-height: 40px;
    color: #ffffff;
    background: #999baa;
    border-radius: 50%;
    font-size: 28px;
margin-bottom: .2rem;
  }
  &-list {
    padding: 40px 30px;
    display: flex;
  }
  &-item.current {
    .Yep-steps-item-text {
      color: #333333;
      font-size: 28px;
      word-wrap: break-word;
    }
    .Yep-steps-num {
      background: #d1371d;
    }
  }

  &-line {
    width: 90%;
    height: 1Px;
    background: #e0e0e0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

  }
  &-line-red {
    width: 15%;
    display: block;
    height: 1px;
    background: #d1371d;
    position: absolute;
    top: 0;
    left: 0;
  }
  // 50%
  &-line-half {
    width: 90%;
    height: 1px;
    background: #e0e0e0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      width: 50%;
      display: block;
      height: 1px;
      background: #2a83e1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  // 100%
  &-line-end {
    width: 90%;
    height: 1px;
    background: #e0e0e0;
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);

    &::before {
      content: '';
      width: 100%;
      display: block;
      height: 1px;
      background: #2a83e1;
      position: absolute;
      top: 0;
      left: 0;
    }
  }
  .fs24 {
    font-size: 24px !important;
    margin-top: 8px;
  }
}
