

$mainColor: #333;

.Yep-tooltip__popover {
  white-space: pre-wrap;
  > .Yep-popover__content {
    background-color: $mainColor;
    color: #fff;
  }
  &.Yep-popover--up {
    &:after {
      border-top-color: $mainColor;
    }
  }
  &.Yep-popover--down {
    &:after {
      border-bottom-color: $mainColor;
    }
  }
  &.Yep-popover--left {
    &:after {
      border-left-color: $mainColor;
    }
  }
  &.Yep-popover--right {
    &:after {
      border-right-color: $mainColor;
    }
  }
}
