
@import '../../style/mixin';

.Yep-message {
  $fontSize: 24px;
  &-icon-remind{
    font-size: 24px;
  }
  &-icon-close{
    font-size: 24px;
    color: #262626;
  }
  &.fix-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
  }
  &.fix-bottom {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }
  &.in-place {
    position: relative;
  }
  .box {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    &-info {
      color: #262626;
      background: #FFFFFF;
    }
    &-warn {
      color: #fff;
      background: #f0ad4e;
    }
    &-error {
      color: #fff;
      background: #d9534f;
    }
  }
  .message-text {
    display: block;
    min-height: 32px;
    line-height: 32px;
    flex: 1;
    margin: 0 14px;
    font-size: $fontSize;
  }
}
