@import '../../style/mixin';

.Yep-stepper {
  @include box();
  @include vertical-center();
  height: 36px;
  color: #262626;
  &-button,
  &-input-value {
    padding: 0;
    border: 0;
    background-color: transparent;
    font-size: 22px;
  }
  &-button {
    @include vertical-center();
    display: block;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    &:disabled {
      color: #999;
    }
  }
  &-input-wrapper {
    margin: 0 4px;
    width: 72px;
    height: 36px;
    background-color: #f2f2f2;
    border-radius: 4px;
  }
  &-input-value {
    width: 100%;
    line-height: 36px;
    text-align: center;
  }
}
