.iconContainer {
  display: flex;
  width: 100%;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.iconItem {
  width: 50px;
  height: 60px;
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  align-items: center;
}
.iconStyle{
  width: 30px;
  height: 30px;
}
.iconName{
  margin-top: 12px;
  font-family: PingFangSC-Medium;
  font-size: 10px;
  font-weight: normal;
  font-stretch: normal;
  letter-spacing: 0px;
  color: #000;
  width: 100%;
  overflow: hidden;
  text-overflow:ellipsis;
  white-space: nowrap;
  text-align: center;
}
