$baseFontSize: 20px;
$primary-color: #ec3838;
// 透明度
$opacity-disabled: 0.3; // switch checkbox radio 等组件禁用的透明度

$color-text-caption: #888; // 辅助描述

$baseBackgroundColor:#fff;
$tapBackgroundColor: #ddd;//组件按下时背景颜色

// 一像素细线border-top-bottom
$border: #e0e0e0;
$tab: #929292;
$tab-deep: #333;
$sub: #c09947;
$l-black: #333;
$black: #000;
$l-red: #f23030;
$d-red: #e4393c;
$ll-black: #232326;
$gray: #848689;
$l-gray: #cccccc;

$color-blue: #26a2ff;
$color-white: #fff;
$color-grey: #d9d9d9;
$border-color: #c8c8cd;
$success-color: #4caf50;
$error-color: #f44336;
$warning-color: #ffc107;
$disabled-color: #eeeeee;
// Cell Component
$cell-value-color: #888;

// Header Component */
$header-height: 40px;

// Button Component */
$button-default-color: #656b79;
$button-default-background-color: #f6f8fa;
$button-default-plain-color: #5a5a5a;
$button-default-box-shadow: 0 0 1px #b8bbbf;
$button-primary-color: #fff;
$button-primary-background-color: #26a2ff;
$button-danger-color: #fff;
$button-danger-background-color: #ef4f4f;

$button-disabled-background-color: $disabled-color;
$button-disabled-color: #cecece;

// Tab Item Component */
$tab-item-font-size: 12px;

// Tabbar Component */
$tabbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;
$tabbar-tab-item-selected-color: $color-blue;

// Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

// Checklist Component */
$checklist-title-color: #888;

// Radio Component */
$radio-title-color: #888;

// z-index */
$z-index-normal: 1;
$maskZIndex: 222;
$popupZIndex: 666;
$toastZIndex: 777;
$tab-barZIndex:200;

$iconfont: '651165_hina411aawhcwhfr';
// 图标尺寸
// ---
$icon-size-xxs: 30px;
$icon-size-xs: 36px;
$icon-size-sm: 42px;
$icon-size-md: 44px; // 导航条上的图标、grid的图标大小
$icon-size-lg: 72px;

// 水平间距
$h-spacing-sm: 10px;
$h-spacing-md: 16px;
$h-spacing-lg: 30px;
// 垂直间距
$v-spacing-xs: 6px;
$v-spacing-sm: 12px;
$v-spacing-md: 18px;
$v-spacing-lg: 30px;
$v-spacing-xl: 42px;

$tab-bar-height:100px;

// list
$list-title-height: 60px;
$list-item-height-sm: 70px;
$list-item-height: 88px;
