$hd : 2px!default;//设计稿两倍尺寸
//色彩
// 文字色
$color-text-base-inverse: #fff;          // 基本 - 反色
$color-text-base:#3D3F52!default; //一级信息：重要文字&标题等
$color-text-secondary: #6C707D!default;          // 二级信息：重要文字等
$color-text-caption:#999BAA!default; // 三级信息：辅助类文字

//全局/品牌色
$brand-primary: #ec3838!default;  //品牌标准色：重要内容信息
$brand-primary-tap: #0e80d2!default;
$brand-success: #85C859!default; //辅助色：区别强调信息
$brand-warning: #ED2945!default;//辅助色：价格&警告信息 小红点
$brand-important: #FBA144!default;  // 辅助色：辅助提示信息

// 背景色
$fill-base: #fff!default;                           // 内容层：全局
$fill-body: #F8F8F8!default;                        // 背景层：全局
//@fill-tap: #ddd;                            // 组件默认背景 - 按下
$fill-disabled:  #B5B5B5!default;                       // 通用失效背景
$fill-mask: rgba(0, 0, 0, 0.65)!default;              // 遮罩背景

// 边框色
$border-color-base: #E3E5E9!default; //分割线：全局

// 字体尺寸
// ---
$font-size-icontext: 10 * $hd!default;//标签等次要信息
$font-size-tags: 10 * $hd!default;//标签等次要信息
$font-size-help: 12 * $hd!default; //辅助等次要信息
$font-size-tips: 13 * $hd!default; //提示等次要信息
$font-size-base: 14 * $hd!default;//TAB、内容等信息
$font-size-caption: 16 * $hd!default;//标题、列表、输入框等重要信息
$font-size-heading: 18 * $hd!default;//导航栏标题、主按钮等重要信息


$baseLineHeight: 1;
// 透明度
$opacity-disabled: 0.3; // switch checkbox radio 等组件禁用的透明度

//$fill-base:#fff;
$tapBackgroundColor: #ddd;//组件按下时背景颜色


// Cell Component
$cell-value-color: #888;

// Header Component */
$header-height: 40px;

// Button Component */
$button-height: 45 * $hd !default;
$button-font-size: 18 * $hd !default;

$button-height-sm: 28 * $hd !default;
$button-font-size-sm: 13 * $hd !default;

// Tab Item Component */
$tab-item-font-size: 12px;

// Tabbar Component */
// tab-bar
$tab-bar-height: 51 * $hd;
$tab-bar-image-height: 25 * $hd;

// Navbar Component */
$navbar-background-color: #fafafa;
$tabbar-tab-item-selected-background-color: #eaeaea;

// Checklist Component */
$checklist-title-color: #888;

// Radio Component */
$radio-title-color: #888;

// z-index */
$z-index-normal: 1;
$maskZIndex: 222;
$popupZIndex: 666;
$toastZIndex: 777;
$tab-barZIndex:200;
$progressZIndex:999;//progress fixed 应该是最大的z-index
$indexedIndicatorZIndex:1999;//索引列表

// 图标尺寸
// ---
$icon-size-xxs: 30px;
$icon-size-xs: 36px;
$icon-size-sm: 42px;
$icon-size-md: 44px; // 导航条上的图标、grid的图标大小
$icon-size-lg: 72px;

// 水平间距
$h-spacing-sm: 10px;
$h-spacing-md: 16px;
$h-spacing-lg: 30px;
// 垂直间距
$v-spacing-xs: 6px;
$v-spacing-sm: 12px;
$v-spacing-md: 18px;
$v-spacing-lg: 30px;
$v-spacing-xl: 42px;



// list
$list-title-height: 60px;
$list-item-height-sm: 70px;
$list-item-height: 88px;
