@import "../../style/mixin";

.Yep-radio {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  &-inner {
    width: 38px;
    height: 38px;
    margin-right: 12px;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0 none;
    appearance: none;
  }
  &-wrapper{
    display: flex;
  }
  &-horizontal{
    flex-direction: row;
  }
  &-vertical{
    flex-direction: column;
  }

  &.Yep-radio-disabled {
    opacity: $opacity-disabled;
  }
}
