@import "../../style/mixin";

.Yep-toast{
  position: fixed;
  width: 100%;
  top: 40%;
  z-index: $toastZIndex;
  font-size: 32px;
  text-align: center;

  &.mask{
    display: flex;
    justify-content: center;
  }
  &.bottom{
    top: 86%;
  }
  &-notice{
    padding: 30px 40px;
    border-radius: 12px;
    color: #fff;
    min-width: 208px;
    background: rgba(0, 0, 0, .7);
    &-message{

      //padding: 10px 30px;
    }
    .Yep-icon + &-message{
      margin-top: 25px;
    }
  }
  & .Yep-icon{
    /*&.shop-zhengque{
      color: #1aad19;
    }
    &.shop-zhuyi{
      color: $primary-color;
    }*/
  }
}


