@import '../../style/mixin';

.Yep-switch-wrapper {
  width: 100px;
  height: 60px;
  border-radius: 50px;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  &.open {
    background-color: #f23030;
    transition: .2s;
  }
  &.close {
    background: rgba(255, 255, 255, 0.4);
    border: 3px solid #e4e4e4;
    border-left: transparent;
  }
  &.disabled{
    opacity: .3;
  }
  .switch-inner {
    width: 54px;
    height: 54px;
    border-radius: 27px;
    position: absolute;
    background: #fff;
    box-shadow: 4px 0 8px 0 rgba(0, 0, 0, 0.1);

    &.open {
      /*top: .02rem;*/
      /*right: 01px;*/
      transition: .2s;
      transform: translate(46px, 2px);
    }

    &.close {
      left: 0;
      top: 0;
      border: 2px solid #e4e4e4;
    }
  }
}
