h1 {
  line-height: 2rem;
  display: inline-block;
}
h2 {
  line-height: 1.5rem;
  display: inline-block;
}
.app {
  display: grid;
  grid-template-columns: 20% 80%;
}
@media (max-width: 700px) {
  .app {
    grid-template-columns: unset;
  }
}
.navbar {
  padding: .5rem;
}
.navbar .nav-link {
  padding: .5rem;
}
.sticky-header {
  height: 40px;
  background: #aaa;
}
.container {
  height: 500px;
  background: #ddd;
}
.gap {
  height: 500px;
}
.gap.short {
  height: 250px;
}
.gap.tall {
  height: 1000px;
}
.container.relative {
  overflow-y: auto;
}

.index{
  line-height: 40px;
}
