.Yep-popover__trigger{
  border:1px solid rgba(76, 124, 250,0.5);
  margin-bottom:20px;
  margin-top:10px;
}

.Yep-popover__trigger:last-of-type{
   margin-bottom:0;
}

.Yep-popover__trigger:nth-child(2){
  width:100%;
}

.Yep-popover__trigger{
  width:200px;
}
