@import "../../style/mixin";

.Yep-popup-picker-wrapper{
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .2s;
  background-color: #fff;
  text-align: center;
  font-size: 14px;
  @include border-radius();
  padding-bottom: constant(safe-area-inset-bottom);
  padding-bottom: env(safe-area-inset-bottom);
}

.Yep-popup-picker-header{
  display: flex;
  align-items: center;
  border-bottom: 1PX solid $border-color-base;
  &-item{
    color: $brand-primary;
    font-size: $font-size-caption;
    padding: 18px 30px;
    height: 84px;
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &-left{

  }
  &-title{
    flex: 1;
    text-align: center;
    color: #000000;
  }
  &-right{
    text-align: right;
  }

}
