@import "../../style/mixin";

.Yep-checkbox {
  position: relative;
  vertical-align: middle;
  width: 100%;
  height: 44px;
  display: flex;
  align-items: center;

  &-inner {
    margin-right: 12px;
    font-size: 38px;
  }

  &-input {
    position: absolute;
    top: 0;
    left: 0;
    opacity: 0;
    width: 100%;
    height: 100%;
    z-index: 2;
    border: 0 none;
    appearance: none;
  }

  &.Yep-checkbox-disabled {
    opacity: $opacity-disabled;
  }
}
