._2oX_m-WuPWDTAjiylFiIf7{margin-top:0.3rem;margin-bottom:0.3rem;margin-left:0.28rem}.rwYtPwQ_aCaP9BMoRtZW1{font-family:PingFangSC-Medium;font-size:0.38rem;letter-spacing:0.02rem;color:#4c7cfa}._18cu1W87A851eFMPTbdOcC{padding-left:0.14rem;font-style:oblique;font-weight:500}._2z4dqZO0orYZ7O__Kl-LIO{margin-top:0.2rem;padding-right:0.28rem;line-height:0.3rem;font-family:PingFangSC-Regular;font-size:0.26rem;letter-spacing:0.005rem;font-weight:200;color:#888}

.github{width:.5rem;height:.5rem}.demo-wingblank{margin:0.28rem}

.demo-btn .Yep-swipe-btn-text {
  width: 1rem;
  white-space: normal;
  text-align: center;
}

