._2oX_m-WuPWDTAjiylFiIf7{margin-top:0.3rem;margin-bottom:0.3rem;margin-left:0.28rem}.rwYtPwQ_aCaP9BMoRtZW1{font-family:PingFangSC-Medium;font-size:0.38rem;letter-spacing:0.02rem;color:#4c7cfa}._18cu1W87A851eFMPTbdOcC{padding-left:0.14rem;font-style:oblique;font-weight:500}._2z4dqZO0orYZ7O__Kl-LIO{margin-top:0.2rem;padding-right:0.28rem;line-height:0.3rem;font-family:PingFangSC-Regular;font-size:0.26rem;letter-spacing:0.005rem;font-weight:200;color:#888}

.github{width:.5rem;height:.5rem}.demo-wingblank{margin:0.28rem}

.nav li {
  margin: 10px 0;
}
.widget-list {
  margin: 0 auto;
}
.widget-list.overflow {
  position: relative;
  height: 500px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
}
.widget {
  position: relative;
  border: 1px #ccc solid;
  background: #eee;
}
.widget-counter {
  position: absolute;
  top: 0;
  left: 0;
  color: #ccc;
  font: 120px/1 Arial;
}
.widget-text, .widget p {
  line-height: 20px;
  width: 80%;
  text-align: right;
  margin: 0 auto;
}
.once code {
  color: #f40;
}
.loading {
  border: 1px #f40 dashed;
}
.loading, .widget {
  width: 100%;
  height: 200px;
  text-align: center;
  padding-top: 50px;
  margin: 10px 0;
}
.op {
  padding: 10px;
  width: 100%;
  border: 1px #eee dotted;
}
.button-secondary {
  color: white;
  border-radius: 4px;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);
  padding: .05rem .1rem;
  background: #167dfd; /* this is a light blue */
}
.quick-jump {
  width: 800px;
  margin: 0 auto;
}
.quick-jump > a {
  display: inline-block;
  font-size: 14px;
  margin: 0 10px;
  text-decoration: underline;
  color: blue;
  cursor: pointer;
}
.overflow-wrapper h1 {
  margin-left: 290px;
}
.top-link {
  margin: 5px 0 20px;
}
.top-link a {
  color: #333;
  margin: 0 4px;
}
.image-container img {
  display: block;
  text-align: center;
  margin: 20px 0;
  height: 300px;
  max-width: 100%;
}
code {
  background: #eee;
  padding: 2px 3px;
  border-radius: 3px;
  color: #333;
  text-decoration: none;
}
.spinner {
  margin: 0 auto;
  width: 50px;
  height: 40px;
  text-align: center;
  font-size: 10px;
}
.spinner > div {
  background-color: #999;
  height: 100%;
  width: 6px;
  display: inline-block;
  -webkit-animation: sk-stretchdelay 1.2s infinite ease-in-out;
  animation: sk-stretchdelay 1.2s infinite ease-in-out;
}
.spinner .rect2 {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s;
}
.spinner .rect3 {
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}
.spinner .rect4 {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s;
}
.spinner .rect5 {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s;
}
@-webkit-keyframes sk-stretchdelay {
  0%, 40%, 100% { -webkit-transform: scaleY(0.4) }
  20% { -webkit-transform: scaleY(1.0) }
}
@keyframes sk-stretchdelay {
  0%, 40%, 100% {
    transform: scaleY(0.4);
    -webkit-transform: scaleY(0.4);
  }  20% {
       transform: scaleY(1.0);
       -webkit-transform: scaleY(1.0);
     }
}
.placeholder {
  background: #f8f8f8;
  height: 200px;
  margin: 10px 0;
  padding-top: 80px;
}
.fade-appear {
  opacity: 0.01;
}
.fade-appear.fade-appear-active {
  opacity: 1;
  -webkit-transition: opacity .5s ease-in;
  -o-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
}

