.page-index {
  padding-bottom: 100px; /*no*/

  .logo{
    margin: 60px  auto 0 ;
    font-size: 0;
    text-align: center;
    img{
      width: 260px;
      height: 260px;
    }
  }
  .indexicon {
    font-size: 44px; /*no*/
    color: #26a2ff;
    display: inline-block;
    width: 60px; /*no*/
    vertical-align: middle;

    &.icon-swipe {
      font-size: 52px; /*no*/
    }

    &.icon-checklist {
      font-size: 36px; /*no*/
    }
  }
  a {
    display: block;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    color: inherit;
    min-height: 96px; /*no*/
    height: 96px; /*no*/
    line-height: 96px; /*no*/
    overflow: hidden;
    text-decoration: none;
    font-size: 32px; /*no*/
    s {
      position: absolute;
      display: block;
      border: 2px solid #c8c8cd; /*no*/
      border-bottom-width: 0;
      border-left-width: 0;
      right: 40px; /*no*/
      top: 40px; /*no*/
      width: 16px; /*no*/
      height: 16px; /*no*/
      -webkit-transform: translateY(-50%) rotate(45deg);
      transform: translateY(-50%) rotate(45deg);
    }
  }
}
