
@import '../../style/mixin';

.my-totop {
  position: fixed;
  right: 60px;
  bottom: 60px;
  width: 118px;
  height: 118px;
  background: url(http://img12.360buyimg.com/uba/jfs/t16789/168/2621571575/4918/23257ea0/5afeaa2fN65cc43e8.png) no-repeat;
  background-size: cover;
  border: 0;
  outline: 0;
} 
