
@import '../../style/mixin';

.Yep-to-top {
  position: fixed;
  right: 60px;
  bottom: 60px;
  &-content{
    width: 70px;
    height: 70px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bd-all-1px($border-color-base,50%);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px $border-color-base;
  }
} 
