
@import '../../style/mixin';

.Yep-to-top {
  position: fixed;
  right: 60px;
  bottom: 60px;
  margin-bottom: constant(safe-area-inset-bottom);
  margin-bottom: env(safe-area-inset-bottom);
  &-content{
    width: 80px;
    height: 80px;
    outline: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    @include bd-all-1px($border-color-base,50%);
    border-radius: 50%;
    box-shadow: 2px 2px 2px 2px $border-color-base;
  }
  &-icon{
    font-size: 60px;
    color: #262626;
  }
}
