@import "../../style/mixin";

.Yep-tab-bar{
  position: fixed!important;
  left: 0;
  bottom: 0;
  z-index: $tab-barZIndex;
  box-sizing: border-box;
  height: $tab-bar-height;
  width: 100%;
  display: flex;
  transition: bottom .2s;
  justify-content: space-around;
  align-items: center;
  @include border-top-1px();
  &-tab{
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    width: 100%;
    &-image {
      width: $tab-bar-image-height;
      height: $tab-bar-image-height;
      vertical-align: middle;
    }
    &-title {
      font-size: $font-size-help;
      margin: $v-spacing-xs 0 0 0;
      line-height: 1;
      text-align: center;
    }
    &-icon{
      display: flex;
      justify-content: center;
      .tab-badge{
        :last-child {
          margin-top: 2 * $hd;
          left: $tab-bar-image-height;
        }
      }
      .tab-dot {
        :last-child {
          margin-top: 2 * $hd;
          left: $tab-bar-image-height;
        }
      }
    }
  }
}
