@import '../../style/mixin';

.Yep-loading {
  display: flex;
  justify-content: center;
  position: fixed;
  z-index: $loadingZIndex;
  top: calc(50% - 60px);
  left: calc(50% - 60px);
  width: 120px;
  height: 120px;
}
