.ul {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  transition: all .2s;
  background-color: #fff;
}

.ul div {
  line-height: .95rem;
  font-size: .28rem;
  text-align: center;
  color: #333;
  position: relative;
  padding: 0 .2rem;
}

.ul div .cur {
  color: #f12222;
}

.ul div :before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: .01rem;
  background-color: #dedede;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  pointer-events: none;
}

.up {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  transition: all .2s;
  background-color: #000;
}

.up div {
  line-height: .95rem;
  font-size: .28rem;
  text-align: center;
  color: #fff;
  position: relative;
  padding: 0 .2rem;
}

.up div.cur {
  color: #f12222;
}

.up div:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: .01rem;
  background-color: #dedede;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  pointer-events: none;
}

.right {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 90%;
  transition: all .2s;
  background-color: #fff;
}

.right div {
  line-height: .95rem;
  font-size: .28rem;
  text-align: center;
  color: #fff;
  position: relative;
  padding: 0 .2rem;
}

.right div.cur {
  color: #f12222;
}

.right div:before {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: 0;
  height: .01rem;
  background-color: #dedede;
  -webkit-transform: scaleY(.5);
  transform: scaleY(.5);
  pointer-events: none;
}
